@charset "UTF-8";
:root{

--cor1: #F3E5D8;
--cor2: #FFF7FC;

}


@media screen and (min-width: 667px) and (max-width:  1440px){

body, html{
background-color:var(--cor1);
padding: 50px;
        
}
main{
width: 65%;

}

div.destaque{
width: 100%;

}
div.destaque > ul > li{
width: 80%;
}

@media screen and (max-width:992px) {

    body, html{
        background-color:var(--cor1);
        padding: 50px;
        
                
}    

}

}