@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 568px) {
    html, body{
        background-color: white;
    }
    
    header img{
        float: left;
        width: 70%;

    }
    .secao1 h1{
        width: 80%;
        font-size: 2em;
    }
    .secao1 p{
        width: 70%;
        font-size: 0.8em;
    }


    .secao2 {
        width: 70%;
        flex-direction: column;
        
    }

    .secao2 li{
        width: 80%;
        font-size: 0.8em;
    }

    .secao3 li{
        width: 80%;
        font-size: 0.8em;
    }

    .secao4 li{
        width: 70%;
        font-size: 0.8em;
    }

    .secao5 p{
        width: 70%;
        font-size: 0.8em;
    }
}
